#meditation-chart {
	width: 80%;
	margin: 20px auto;
}
#meditation-chart button {
	border: none;
	border-radius: 5px;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 5px 10px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
#meditation-chart thead tr th {
	border-bottom: 2px solid black;
}
#meditation-chart tbody tr#entry td {
	cursor: pointer;
	background-color: grey;
	min-height: 18px;
}
